#mapa{
   width: 100%;
}
#twitterrm{
    height: 4vh;
    fill: #7fad39;
}
#quatroiconesx{
    height: 22vh;
    padding-left: 16%;
    padding-right: 18%;
    padding-bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#espaço{
    padding-top: 7vh;
    text-align: center;
}
#leave{
    padding-top: 8vh;
    width: 100%;
    text-align: center;
    font-family: "Cairo", sans-serif;
    font-size: 25px;
    padding-bottom: 5vh;
   
}
#duascaixas{
    padding-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
}
#duascaixass{
    padding-top: 5vh;
    padding-left: 5%;
}
#tomatem{
    
    text-align: center;
    width: 100%;
    height: 15vh;
    background-image: url(download\ \(23\).webp);
}
#topespaco{
    padding-top: 5vh;
}
#phone4{
    padding-top: 2vh;
    padding-bottom: 1vh;
}
#alargar{
    width: 90%;
    height: 5vh;
   
}
#klarga{
    width: 95%;
    height: 14vh;
}
#btnmessage{
    height: 6vh;
    font-weight: 900;
    background-color: #7fad39;
    color: white;
    font-size: 15px;
    width: 17%;
}
#pol{
        text-decoration: none;
        color: #7fad39;
}
#homesx{
    text-decoration: none;
    color: #0e1602;
    padding-left: 13%;
}